<!DOCTYPE html>
<html>
  <head>
    <title>Popup</title>
    <link href="popupWindow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "popupWindow.css">
  </head>

  <body style = "width: 480px; height: 840px;">
    <div class="images">
      <img style = "width: 200px; height: 200px; border=0;" src="ReadIt128.png" class="img-rounded" alt="ReadIt">
      <img style = "width: 200px; height: 200px; border=0;" src="eadItforreddit.png" class="img-rounded" alt="ReadIt">
    </div>

    <div class="container" role="main">
      <form>
        <div class="images">
          <input id="inputBar" class="form-control" type="text" placeholder="Enter keyword">
          <script src="popupWindow.js" type="text/javascript"></script>
        </div>
        <div class="images">
          <button id="sRButton" type="button" class="btn btn-primary btn-lg">Scrape Reddit</button>
          <script src="popupWindow.js" type="text/javascript"></script>
        </div>
      </form>
    </div>

  <div id="Results">



  </div>


  </body>


</html>